"以下のタスクを作成しました"
<%= "\n"%>
"場所："
<%= @task.floor_id%>
<%= "\n"%>
"部屋："
<%= @task.room_id%>
<%= "\n"%>
"項目："
<%= @task.item_id%>
<%= "\n"%>
"お手入れ："
<%= @task.mentenance_id%>
<%= "\n"%>
"お手入れの目安の時期："
<%= @task.deadline%>
<%= "\n"%>
"このお手入れが終わったら忘れずに次のお手入れタスクを登録しましょう。次の目安時期は詳細を参考してください。"
<a href="https://myhome-mente.herokuapp.com/">ログインはこちらから</a>