<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= "以下のタスクを作成しました"%></h1>
    <ul>
      <li>場所： <%= @task.floor %></li>
      <li>部屋： <%= @task.room %></li>
      <li>項目： <%= @task.item %></li>
      <li>お手入れ： <%= @task.mentenance %></li>
      <li>詳しい説明： <%= simple_format(@task.description) %></li>
      <li>お手入れの目安： <%= @task.deadline %></li>
      <%= link_to '詳細画面へ', task_path(task), class:"btn btn-primary btn-sm" %>
    </ul>
  </body>
</html>


