<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= "以下のタスクを作成しました"%></h1>
    <ul>
      <li>場所： <%= @task.floor_id%></li>
      <li>部屋： <%= @task.room_id%></li>
      <li>項目： <%= @task.item_id%></li>
      <li>お手入れ： <%= @task.mentenance_id %></li>
      <li>お手入れの目安： <%= @task.deadline %></li>
      <li>このお手入れが終わったら忘れずに次のお手入れタスクを登録しましょう。<br>次の目安時期は詳細を参考してください。</li>
    </ul>
    <a href="https://myhome-mente.herokuapp.com/">ログインはこちらから</a>
  </body>
</html>


