<html>
<body>
  <%= render "shared/header" %>

  <div class="container col-8">
    
      <% if user_signed_in?%>
        <p class="text-center"><%= "#{current_user.last_name_kana} #{current_user.first_name_kana}"%></p>
        <h2 class="text-center font-weight-bold"><%= "#{current_user.last_name} #{current_user.first_name} 様邸"%> </h2>
        <% if @tasks.present? %>
          <div class="shadow p-3 mb-5 bg-white rounded d-flex justify-content-center">
            <div>ただいまのお手入れタスクの数は</div>
            <div><%= @task.count %></div>
            <div>件です</div>
          </div>
        <%else%>
          <div class="shadow p-3 mb-5 bg-white rounded d-flex justify-content-center">
            <div>登録されているタスクはありません</div>
          </div>
        <%end%>
      <% else %>
        <p class="lead text-center"><%= link_to 'ログインはこちらから', new_user_session_path, class: "login nav-link active" %></p><br>
      <% end %>

    <div class="row d-flex justify-content-center">
      <div>
        <a class="btn btn-outline-info btn-lg" href="/tasks/new" role="button">お手入情報の登録はこちらから</a>
      </div><br><br><br><br>
    </div>
    
      
    <div class="jumbotron shadow p-3 mb-5 bg-white rounded">
      <div class="d-flex justify-content-center">
      <h3 class="font-weight-bold">お手入れタスク一覧</h3>
      </div>

    <% if user_signed_in?%>
      <div class="container flex-column align-items-center">
        
        <% @task.each do |task| %>
          <tr id=@task.id>
          
          <div class="card text-center" data="<%= task.id %>">
            <div class="card-header">
              <td><%=task.floor_id%></td>
              <td><%= task.room_id%></td>
            </div>

            <div class="card-body">
              <td><h5 class="card-title"><%=task.item_id%></h5></td>
              <td><p class=><%=task.mentenance_id%></p></td>
              <td>
                <%= link_to '詳細画面へ', task_path(task), class:"btn btn-info btn-sm" %><br><br>
              </td>
            </div>
            
            <div class="card-footer font-weight-bold">
              <%=deadline_count(task)%>
            </div>
          </div>
          <br>
          
          </tr>
        <% end %>
      </div>
    
      <%= paginate @tasks%>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
      </div>

    <%else%>
      <p class="lead text-center"><%= "タスクはありません" %></p><br>
    <% end %>
  </div>

    <%= render "shared/footer" %>
  </body>
</html>