<%= render "shared/header" %>

<div class="container col-8">
  <h2>お手入れ箇所の新規登録</h2>

  <div class="nav justify-content-end">
    <%= link_to '一覧', tasks_path, class: 'nav-link' %>
  </div>

  <%= form_with model:@task, local: true do |f| %>

    <div class="form-group">
      <td>
      <%=f.label :floor, '場所'%>
      <span class="indispensable">必須</span>
      <%= f.collection_select(:floor, FloorCategory.all, :name, :name,{include_blank: "▼---選択して下さい---▼", prompt: false}, {class:"form-control", id: "floor_category"}) %>
      </td>
    </div>

    <div class="form-group">
      <td>
      <%=f.label :room, '部屋'%>
      <span class="indispensable">必須</span>
      <%= f.collection_select(:room, RoomCategory.all, :name, :name,{include_blank: "▼---選択して下さい---▼", prompt: false}, {class:"form-control", id: "room_category"}) %>
      </td>
    </div>

    <div class="form-group">
      <td>
      <%=f.label :item, '項目'%>
      <span class="indispensable">必須</span>
      <%= f.collection_select(:item, ItemCategory.all, :name, :name,{include_blank: "▼---選択して下さい---▼", prompt: false}, {class:"form-control", id: "item_category"}) %>
      </td>
    </div>

    <div class="form-group">
      <td>
      <%=f.label :mentenance, 'お手入れ'%>
      <span class="indispensable">必須</span>
      <%= f.collection_select(:mentenance, MentenanceCategory.all, :name, :id,{include_blank: "▼---選択して下さい---▼", prompt: false}, {class:"form-control",id: "mentenance_category"}) %>
      </td>
    </div>

    <%# <div class="form-group">
      <td>
      <%=f.label :description, '詳細'%>
      <%# <%= f.collection_select(:description, DescriptionCategory.all, :name, :name,{include_blank: "▼---選択して下さい---▼", prompt: false}, {class:"form-control", id: "description_category"}) %>
      <%# </td>
    </div>  %> 

    <div class="form-group">
      <%= f.label :deadline,  '目安の時期' %>
      <span class="indispensable">必須</span>
      <%= f.date_field :deadline, class:"form-control ", id:"date" %>
    </div>

    <%# <div class="form-group">
      <%= f.hidden_field :completed,:value => 0, id: 'task_completed'%>
    </div> 

    <div class="d-flex justify-content-end">
      <input type = "reset" value="clear" class="btn btn-outline-secondary">
    </div>
    <br>
    <br>
    <div class="d-flex justify-content-between">
      <%= f.submit nil, class: 'btn btn-primary btn-lg btn-block'%>
    </div>
  <%end%>
</div>
<%# <%= javascript_pack_tag 'category_select_box', 'data-turbolinks-track': 'reload'  %> 
<%= render "shared/footer" %>