<%= render "shared/header" %>

<div class="container col-8">
  <div class="jumbotron">
    <h2 class="d-flex justify-content-center">ユーザー情報</h2>
    <br>
    <div>
      <p>所有者様名</p>
      <div class="shadow p-3 mb-5 bg-white rounded">
      <%= @last_name %>
      <%= @first_name %>
      </div>
    </div>

    <div>
      <p>所有者様名（かな）</p>
      <div class="shadow p-3 mb-5 bg-white rounded">
      <%= @last_name_kana %>
      <%= @first_name_kana%>
      </div>
    </div>

    <div>
      <p>E-mailアドレス</p>
      <div class="shadow p-3 mb-5 bg-white rounded">
      <%= @email%>
      </div>
    </div>

    <div>
      <p>お手入れの数は
        <div class="shadow p-3 mb-5 bg-white rounded d-flex justify-content-center">
          <div><%= @count %></div>
          <div>件です</div>
        </div>
      </p><br>
    </div>

    (サンプルで玄関ドアをYKKAP センサーライトにアイリスオーヤマ商品の説明書PDFデータ添付)
    <br>
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
    <a class="navbar-brand" href="#">電子保証書</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav row">
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          玄関・外部 関連説明書
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="https://webcatalog.ykkap.co.jp/iportal/CatalogViewInterfaceStartUpAction.do?method=startUp&mode=PAGE&catalogCategoryId=&catalogId=31280000&pageGroupId=1&volumeID=YKKAPDC1&keyword=&categoryID=&sortKey=&sortOrder=&designID=sppro&designConfirmFlg=">玄関ドア説明書</a>
          <a class="dropdown-item" href="#">シューズボックス説明書</a>
          <a class="dropdown-item" href="#">サインポール説明書</a>
          <a class="dropdown-item" href="https://www.irisohyama.co.jp/products/manual/pdf/250538.pdf">センサーライト説明書</a>
        </div>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          リビング・ダイニング・洋室／和室 関連説明書
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">サッシ説明書</a>
          <a class="dropdown-item" href="#">シャッター説明書</a>
          <a class="dropdown-item" href="#">24時間換気吸気口説明書</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          キッチン 関連説明書
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">システムキッチン説明書</a>
          <a class="dropdown-item" href="#">レンジフード説明書</a>
          <a class="dropdown-item" href="#">コンロ説明書</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          洗面室・浴室 関連説明書
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">洗面化粧台説明書</a>
          <a class="dropdown-item" href="#">洗濯パン説明書</a>
          <a class="dropdown-item" href="#">給湯器説明書</a>
          <a class="dropdown-item" href="#">浴室暖房乾燥機説明書</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          トイレ 関連説明書
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">水洗浄便座説明書</a>
          <a class="dropdown-item" href="#">トイレタンク説明書</a>
          <a class="dropdown-item" href="#">トイレ便器説明書</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          その他説明書
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">その他 説明書</a>
          <a class="dropdown-item" href="#">その他説明書１</a>
          <a class="dropdown-item" href="#">その他説明書２</a>
          <a class="dropdown-item" href="#">その他説明書３</a>
        </div>
      </li>
    </ul>
  </div>
</nav><br>
    <div class="d-flex justify-content-between">
    
      <div>
        <%= link_to 'お手入れ新規登録ページへ', "/tasks/new", class: 'btn btn-primary btn-sm ml-2'%>
      </div>
      <div>
        <%= link_to 'ユーザー情報編集ページへ', "/users/edit", class: 'btn btn-primary btn-sm ml-2'%>
      </div>
    </div>

  </div>
</div>
<br>


<%= render "shared/footer" %>