<div class="app-title navbar navbar-expand-md navbar-light bg-danger d-flex">
  
  <div class="flex-grow-1">
    <h1 class ="font-weight-bold text-monospace"><%= link_to 'mente', root_path, class:"text-white nav-link active"%></h1>
  </div>

  <div>
    <ul>
      <% if user_signed_in?%>
        <li class="collapse navbar-collapse nav-item dropdown d-flex justify-content-end">
          <a class="nav-link dropdown-toggle text-white font-weight-bold" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= "こんにちは！#{current_user.last_name}さん"%>
          </a>
          <div class="dropdown-menu font-weight-bold" aria-labelledby="navbarDropdownMenuLink">
            <%# <%= link_to 'マイページ', user_path, class: "ldropdown-item font-weight-bold" %> 
            <a class="dropdown-item font-weight-bold" href="/users/:id">マイページ</a>
            <%= link_to 'ユーザー情報編集', edit_user_registration_path, class: "dropdown-item font-weight-bold" %>
            <%= link_to 'ログアウト', destroy_user_session_path, class: "dropdown-item font-weight-bold", method: :delete %>
            
            
            <%# <a class="dropdown-item font-weight-bold" href="/users/:id">マイページ</a>
            <a class="dropdown-item font-weight-bold" href="/users/edit">ユーザー情報編集</a>
            <a class="dropdown-item font-weight-bold" href="/users/sign_out">ログアウト</a> %>
          </div>
        </li>
      <%else%>
        <div class="nav d-flex flex-row-reverse mb-3">
            <li class="p-2 bd-highlight font-weight-bold" ><%= link_to 'ログイン', new_user_session_path, class: "login nav-link active" %></li>
            <li class="p-2 bd-highlight font-weight-bold"><%= link_to '新規登録', new_user_registration_path, class: "sign-up nav-link active" %></li>
        </div>
      <%end%>
    </ul>
  </div>
</div>

  <div class="container">
    <% if flash.notice.present? %>
      <div class="alert alert-success">
        <%= flash.notice%>
      </div>
    <% end %>
  </div>