<div class="container">
  <div class="jumbotron">
    <h2 class="d-flex justify-content-center">ユーザーログイン</h2>

    <%= form_with model: @user, url: user_session_path, id: 'new_user', local: true do |f| %>
    <div class="form-group">
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="lastName">名字</label>
            <input type="text" class="form-control" id="lastName" required>
        </div>
        <div class="col-md-4 mb-3">
          <label for="firstName">名前</label>
            <input type="text" class="form-control" id="firstName" required>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="form-text">パスワード</label>
      <%= f.password_field :password, class:"form-control", id:"password" %>
    </div>
    

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <button type="submit" class="btn btn-primary mb-5">ログイン</button>
    <a href="/users/sign_up" class="btn btn-primary mb-5">ユーザー登録画面へ</a>
    <% end %>

  <%= render "devise/shared/links" %>

  </div>
</div>