<div class="container">
  <div class="jumbotron">
    <h2 class="d-flex justify-content-center">ユーザーログイン</h2>

    <%= form_with model: @user, url: user_session_path, id: 'new_user', local: true do |f| %>
    <div class="form-group">
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="lastName">名字</label>
          
            <%= f.text_field :last_name, class:"form-control", id:"last-name", placeholder:"例) 山田" %>
        </div>
        <div class="col-md-4 mb-3">
          <label for="firstName">名前</label>
          
            <%= f.text_field :first_name, class:"form-control", id:"first-name", placeholder:"例) 陸太郎" %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="form-text">パスワード</label>
      <%= f.password_field :password, class:"form-control", id:"password" %>
    </div>

    <button type="submit" class="btn btn-primary mb-5">ログイン</button>
    <%# <button type="submit" class="btn btn-primary mb-5">ユーザー登録画面へ</button> %>
    <% end %>

  <%= render "devise/shared/links" %>

  </div>
</div>