<!DOCTYPE html>
<html>
  <head>
    <title>お手入れマガジン</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <script type="text/javascript">
    
  </head>

  <body>
  <script src="script.js"></script>
  
  <div class="app-title navbar navbar-expand-md navbar-light bg-light d-flex">
    <h1 class ="font-weight-bold d-flex justify-content-center d-flex align-items-center">mente</h1>
      <ul>
      <% if user_signed_in?%>
        <li class="navbar nav-item dropdown d-flex justify-content-end">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= "こんにちは！#{current_user.last_name}さん"%>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">ユーザー情報詳細</a>
            <a class="dropdown-item" href="/users/edit">ユーザー情報編集</a>
            <a class="dropdown-item" href="/users/sign_out">ログアウト</a>
          </div>
        </li>
        <%else%>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
        <%end%>
      </ul>
    </div>

    <div class="container">
      <% if flash.notice.present? %>
        <div class="alert alert-success">
          <%= flash.notice%>
        </div>
      <% end %>
    <%= yield %>
    </div>
    </div>
  <br>
  <br>
  <div class="app-title navbar navbar-expand-md navbar-light bg-light navbar-brand d-flex align-items-center justify-content ">
  <%= link_to 'TOPへ戻る', tasks_path, class: "btn btn-secondary btn-sm " %>
  </div>

</html>
